.retro-game {
    position: relative;
    background-color: black;
    width: 1064px;
    height: 768px;
    background-repeat: no-repeat;
}

.click-enter{
    border: 1px solid rgb(253, 0, 95);
    color:white;
    font-size: 32px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 3%;
    left: 215px;
    top: 300px;
    text-align: center;
}

.button {
    border: 1px solid;
    color: rgb(252, 238, 33);
    text-decoration: none;
    padding: 10px;
}

.title {
    position: relative;
    left: 0px;
    top: 170px;
    border: 1px solid;
    color: rgb(252, 238, 33);
    padding: 10px;
}

.text {
    color: aliceblue;
    font-size: 25px;
    text-align: center;

}

b {
    color: rgb(253, 0, 95);
}